body {
    background-image : url(pictures/background.png);
    background-size : 100% 100%;
    font-family: sans-serif;
}

.btn1 {
  position: absolute;
  left: 85%;
}

.btn2 {
  position: absolute;
  left: 67%;
}

.btn3 {
  position: absolute;
  left: 25%;
}

.btn4 {
  position: absolute;
  left: 12%;
}

.bouton-lien {
  border-radius: 5px;
  padding: 3px;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.bouton-lien:hover {
border-radius: 5px;
padding: 3px;
color: rgb(255, 230, 200);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
text-align: center;
text-decoration: none;
cursor: default;
text-decoration: underline;
}

header
{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.05);
}

.grand-titre {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 20px;
    height: 111px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.titre {
    position: relative;
    top: 120px;
    height: 111px;
    margin: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.presentation {
    position: relative;
    top: 50px;
    height: 111px;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

.video {
  text-align: center;
  color: rgb(255, 255, 255);
}

.presentation-groupe {
    position: relative;
    text-align: center;
    color: rgb(200, 50, 55);
}

.image {
  height: 50%;
}

.texte-de-pres {
	width: 50%;
	text-align: center;
	margin : auto;
}